@tailwind base;
@tailwind components;
@tailwind utilities;

.head-title-for-bar {
    @apply flex justify-start text-sm font-bold;
}

.head-name-music-bar {
    @apply text-ss font-bold text-center;
}

.head-name-music-bar-List {
    @apply text-ss mt-2 px-2 py-1 rounded-lg shadow-lg;
}

.head-name-botton-bar {
    @apply ml-2 text-sm;
}

.item-center {
    @apply flex justify-center items-center;
}

.align-item-center {
    @apply flex justify-center;
}

.hover-focus-input{
    @apply hover:border-violetlight hover:text-violetlight focus:border-violetlight focus:text-violetlight active:border-violetlight active:text-violetlight
}

@font-face {
    font-family: "sansation-light";
    src: url(../fonts/SansSerif/sansation-light.ttf) format("truetype");
}

@font-face {
    font-family: "sansation-bold";
    src: url(../fonts/SansSerif/sansation-bold.ttf) format("truetype");
}

@font-face {
    font-family: "sansation-regular";
    src: url(../fonts/SansSerif/dahot2.sansation_regular.ttf) format("truetype");
}


