@tailwind base;
@tailwind components;
@tailwind utilities;

.head-title-for-bar {
    @apply flex justify-start text-sm font-bold;
}

.head-name-music-bar {
    @apply text-ss font-bold text-center;
}

.head-name-music-bar-List {
    @apply text-ss mt-2 px-2 py-1 rounded-lg shadow-lg;
}

.head-name-botton-bar {
    @apply ml-2 text-sm;
}

.item-center {
    @apply flex justify-center items-center;
}

.align-item-center {
    @apply flex justify-center;
}

.hover-focus-input{
    @apply hover:border-violetlight hover:text-violetlight focus:border-violetlight focus:text-violetlight active:border-violetlight active:text-violetlight
}

@font-face {
    font-family: "sansation-light";
    src: url(../fonts/SansSerif/sansation-light.ttf) format("truetype");
}

@font-face {
    font-family: "sansation-bold";
    src: url(../fonts/SansSerif/sansation-bold.ttf) format("truetype");
}

@font-face {
    font-family: "sansation-regular";
    src: url(../fonts/SansSerif/dahot2.sansation_regular.ttf) format("truetype");
}

.loader {
    width: 48px;
    height: 48px;
    border:10px solid #FFF;
    border-radius: 50%;
    position: relative;
    transform:rotate(45deg);
    box-sizing: border-box;
  }
.loader::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset:-10px;
    border-radius: 50%;
    border:10px solid #816CFF;
    animation: prixClipFix 1.5s infinite linear;
}

